.container {
    width: 90%;
    min-height: px;
    margin: 0 auto;
    background-color: #eee;
}

.left-container {
    width: 50%;
    height: 800px ;
    background-color: #acc;
    float: left;
    border-right: 1px solid #eee;
    padding: 20px;
}

.right-container {
    width: 50%;
    height: 800px;
    float: right;
    padding: 20px;
}

.post-parameter {
    width: 100%;
}

.post-parameter .input-group {
    width: 100%;
    margin-bottom: 15px;
    /* border: 1px solid #eee; */
}

.post-parameter .input-group .input-label {
    display: inline-block;
    width: 20%;
}

.post-parameter .input-group input {
    width: 50%;
}

.input-group .tag-select {
    margin-top: 20px;
}

.input-group .tag-select button {
    margin-right: 10px;
    border-radius: 3px;
}

.input-group .tag-select button[selected="false"] {
    background-color: #777;
    opacity: 0.5;
}

.input-group .tag-select button[selected="true"] {
    background-color: #eee;
}

.input-group .tag-select button[selected="true"]:before {
    content: '\2714';
}

.post-parameter .input-group .input-label-content {
    display: block;
    width: 20%;
}

.post-parameter .input-group .post-content {
    width: 100%;
    background-color: #ddd;
}