{{ define "author/post" }}
<!DOCTYPE html>
<html lang="ja">

<head>
  <title>Edit Post</title>
  {{ template "partials/author/head" }}
  <link rel="stylesheet" href="/static/css/author/post.css">
  <link rel="stylesheet" href="/static/css/post.css">
  <!-- TODO 保持しておく(github.ioに依存しない) -->
  <link rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/github-v2.css">
  <script defer src="/static/js/author/post.js"></script>
</head>

<body>
  <div class="container clearfix">
    <div class="left-container">
      <div class="post-parameter">
        <form>
          <div class="input-group">
            <label class="input-label" for="post-id">ID</label>
            <input id="post-id" type="text" readonly="readonly">
          </div>
          <div class="input-group">
            <label class="input-label" for="post-title">Title</label>
            <input id="post-title" type="text">
          </div>
          <div class="input-group">
            <label class="input-label" for="post-url-safe-title">URL Safe Title</label>
            <input id="post-url-safe-title" type="text">
          </div>
          <div class="input-group">
            <label class="input-label" for="post-created-at">Created At</label>
            <input id="post-created-at" type="text" readonly="readonly">
          </div>
          <div class="input-group">
            <label class="input-label" for="post-status">Status</label>
            <select id="post-status">
              <option value="published">published</option>
              <option value="draft">draft</option>
            </select>
          </div>
          <div class="input-group">
            <div class="tag-create">
              <label class="input-label" for="create-tag">Tags</label>
              <input id="create-tag" class="btn" type="text">
              <button class="btn" id="createTagBtn" type="button">Create</button>
            </div>
            <div class="tag-select" id="tag-select">
            </div>
          </div>
          <div class="input-group">
            <label class="input-label-content" for="post-content">Content</label>
            <textarea class="post-content" id="post-content" cols=90 rows=30></textarea>
          </div>
          <button class="btn" id="savePostBtn" type="button">Save</button>
        </form>
      </div>
    </div>
    <div class="right-container">
      <div id="renderingArea" class="post-container">Hello</div>
    </div>
  </div>
</body>

</html>
{{ end }}